/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 12px;
  font-weight: 400;
  background: #fff;
  min-width: 320px;
  height: 100vh;
}

a {
  text-decoration: none;
}

button {
  padding: 12px 16px;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background: #e2dfe7;
  cursor: not-allowed;
}

ul {
  list-style: none;
}

table,
th,
td {
  border-collapse: collapse;
}

#app {
  height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}

.content__calendar {
  display: none;
  position: absolute;
  top: 38px;
  left: 0;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;

  &.open {
    display: block;
  }

  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    button {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      transition: all 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  table {
    width: 100%;

    th {
      padding: 10px;
      background-color: #007bff;
      color: #fff;
    }

    td {
      padding: 10px;
      text-align: center;
      cursor: pointer;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}

@import "./form.scss";
@import "./layout.scss";
@import "./main.scss";
@import "./categories.scss";
@import "./addEdit.scss";
@import "./balance.scss";
